body {
    font-family: "Verdana", sans-serif;
    text-align: center;
}   
    .firstline{
        font-size: 2rem;
        color: white;
        text-shadow: 5px 5px #558abb;
        -webkit-text-stroke-width: 0.8px;
        letter-spacing: 5px;
    }

    .sortselect {
      min-width: 200px;
    }

    .sortselect select {
      font-size: 1rem;
      padding: 0.4em 0.7em 0.4em 1.3em;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      z-index: 0;
      padding: 0.25em 0em;
      column-gap: 1em;
      row-gap: 1em;
      img{
          max-width: 100%;
          max-height: 100%;
          border: 0.25em solid black;
      }
    }
    @media (min-width: 901px) {
          .grid-container {
            column-gap: 2em;
            row-gap: 2em;
            padding: 0.5em 0em;
          }
      }
    .grid-category1{
        grid-column: 2 / span 2;
        grid-row: 1;
    }
    
    .grid-category2{
        grid-column: 4 / span 2;
        grid-row: 1;
    }
    
    .grid-category3{
        grid-column: 6 /span 2;
        grid-row: 1;
    }
    
    .pagination {
      display: inline-block;
      border-radius: 54px;
      background-color: #EEE;
    }
    
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
    }

    .pagination a.active {
      border-radius: 5px;
      background-color: #0D9;
    }
    
    .pagination a:hover:not(.active) {
        background-color: #ddd;
        transition: all 0.3s ease;
    }
