html{
      font-size: 14px;
      min-width: 800px; 
       @media (min-width: 1001px) {
          font-size: 16px;
          }
}

body {
    font-family: "Verdana", sans-serif;

    .firstline{
        text-align: center;
        font-size: 2rem;
        color: white;
        text-shadow: 0.3rem 0.3rem #558abb;
        -webkit-text-stroke-width: 0.05rem;
        letter-spacing: 0.4rem;
    }

    .grid-container {
      display: grid;
      grid-template-rows: repeat(9, 1fr);
      grid-template-columns: repeat(9, 1fr);
      z-index: 0;
      img{
          max-width: 100%;
          max-height: 100%;
          border-style: solid;
          border-width: 0.15rem;
      }
    }

    .grid-container2 {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      text-align: center;
    }

    .grid-container3 {
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(9, 1fr);
      column-gap: 0.75rem;
      z-index: 0;
      -webkit-text-stroke-width: 0.03rem;
      img{
         max-width: 100%;
         max-height: 100%;
         border-style: solid;
         border-width: 0.15rem;
      }
    }
    .newstext {
        text-align: center;
        font-size: 1.25rem;
        color: white;
        text-shadow: 0.2rem 0.2rem #558abb;
        -webkit-text-stroke-width: 0.03rem;
        letter-spacing: 0.2rem;
        grid-row: 1;
        grid-column: 3;
    }

    .popcattext {
        text-align: center;
        font-size: 1.25rem;
        color: white;
        text-shadow: 0.2rem 0.2rem #558abb;
        -webkit-text-stroke-width: 0.03rem;
        letter-spacing: 0.2rem;
        grid-row: 1;
        grid-column: 6 / span 3;
    }

    .grid-banner {
      grid-row: 2 / span 8;
      grid-column: 2 / span 3;
    }

    .grid-cat1{
        grid-row: 2 / span 4;
        grid-column: 6;
    }

    .grid-cat2{
        grid-row: 2 / span 4;
        grid-column: 7;
    }

    .grid-cat3{
        grid-row: 2 / span 4;
        grid-column: 8;
    }

    .grid-cat4{
        grid-row: 6 / span 4;
        grid-column: 6;
    }
    .grid-cat5{
        grid-row: 6 / span 4;
        grid-column: 7;
    }

    .grid-cat6{
        grid-row: 6 / span 4;
        grid-column: 8;
    }

  
     .prod-button{
        color: white;
        grid-column: 5 / span 3;
        background-color: #558abb;
        padding: 0.5rem 0.5rem;
        border: 0.2rem solid white;
        border-radius: 2rem;
        transition: all 0.25s ease;
        text-decoration: none;
        -webkit-text-stroke-width: 0.03rem;
     }

    .cat-button{
        color: white;
        grid-column: 10 / span 3;   
        background-color: #558abb;
        padding: 0.5rem 0.5rem;
        border: 0.2rem solid white;
        border-radius: 2rem;
        transition: all 0.25s ease;
        text-decoration: none;
        -webkit-text-stroke-width: 0.03rem;
     }

    .prod-descr{
        color: white;
        text-align: left;
        font-size: 1.15rem;
        grid-row: 1;
        grid-column: 2 / span 2;
        text-shadow: 0.2rem 0.2rem #558abb;
        -webkit-text-stroke-width: 0.03rem;
        letter-spacing: 0.10em;
    }

    .cat-button:hover{
        background-color: #0D9;
    }

    .prod-button:hover{
        background-color: #0D9;
    }

    .grid-prod1{
        grid-row: 2 / span 5;
        grid-column: 2;
    }

    .grid-prod2{
        grid-row: 2 / span 5;
        grid-column: 3;
    }

    .grid-prod3{
        grid-row: 2 / span 5;
        grid-column: 4;
    }

    .grid-prod4{
        grid-row: 2 / span 5;
        grid-column: 5;
    }

    .grid-prod5{
        grid-row: 2 / span 5;
        grid-column: 6;
    }

    .grid-prod6{
        grid-row: 2 / span 5;
        grid-column: 7;
    }

    .grid-prod7{
        grid-row: 2 / span 5;
        grid-column: 8;
    }
}
