.homepage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.section {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.3em;
  color: #444;
}

.divider {
  width: 80%;
  margin: 2em auto;
  border: none;
  border-top: 2px solid #f0e0d8;
  opacity: 0.5;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  margin-top: 1em;
  margin-bottom: 2em;
  justify-items: center;
}

@media (min-width: 1001px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.card {
  background-color: #fbecd3;
  border-radius: 12px;
  padding: 1em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.card img{
  width: 100%;
  max-width: 250px;
  border-radius: 1em;
  border: 0.25em solid #b89b8c;
  transition: transform 0.4s ease;
  transition: box-shadow 0.4s ease;
}

.card img:hover {
  transform: scale(1.02);
  background-color: #fce6e3;
}

.button {
  all: unset;
  display: inline-block;
  background-color: #f4c6b9;
  padding: 0.6em 1.4em;
  border-radius: 12px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.2s ease;
}

.button:hover {
  background-color: #e8a89a;
}

.browse-btn {
  margin-top: 1em;
}

.login-btn {
  background-color: #ccc;
  color: #222;
  padding: 0.7em 1.6em;
}
