.product-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 2em;
  text-align: center;
  color: #fffdfc;
  background-color: #fbecd3;
  font-size: 1.1em;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 0.04rem;
}

.product-top {
  display: flex;
  gap: 2em;
}

.product-image img {
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 1em;
  border: 0.25em solid #b89b8c;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-info > div {
  margin-bottom: 0.5em;
}

.cart-controls {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center
}

.cart-controls input[type="number"] {
  width: 60px;
  padding: 4px;
}

.product-description {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}
