html {
  font-size: 14px;
  min-width: 800px;
  .grid-row{
    column-gap: 1em;
    row-gap: 1em;
    padding: 0rem 5rem;
  }
}

@media (min-width: 1001px) {
  html {
    font-size: 16px;
  }
}

body {
    font-family: "Verdana", sans-serif;
    text-align: center;
}

.firstline{
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 0.3rem 0.3rem #558abb;
    -webkit-text-stroke-width: 0.05rem;
    letter-spacing: 0.4rem;
}

.sortselect {
  min-width: 200px;
}

.sortselect select {
  font-size: 1rem;
  padding: 0.4rem 0.7rem 0.4rem 1.3rem;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  z-index: 0;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 0rem 15rem;
  margin: 0 auto;
}

.grid-row img {
  max-width: 100%;
  max-height: 100%;
  border: 0.25em solid black;
}

.grid-item {
  padding: 1.5em;
  border-radius: 2em;
  text-align: center;
  color: whitesmoke;
  background-color: #4a6a6a;
}

.pagination {
  display: inline-block;
  border-radius: 2rem;
  background-color: #EEE;
}

.pagination a {
  color: black;
  float: left;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}

.pagination a.active {
  border-radius: 0.3rem;
  background-color: #0D9;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    transition: all 0.3s ease;
}
