.sortselect {
  min-width: 200px;
}

.sortselect select {
  font-size: 1rem;
  padding: 0.4rem 0.7rem 0.4rem 1.3rem;
}

.grid-row {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -webkit-text-stroke-width: 0.025em;
}

.grid-item {
  text-shadow: 1px 1px 4px black;
  letter-spacing: 0.1rem;
}

.grid-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
