html {
  font-size: 14px;
  min-width: 800px;
  .grid-row{
    column-gap: 1em;
    row-gap: 1em;
    padding: 0rem 5rem;
  }
}

@media (min-width: 1001px) {
  html {
    font-size: 17px;
  }
}

body {
  font-family: "Google Sans", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading{
  font-family: "Google Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #444;
  -webkit-text-stroke-width: 0.09rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.grid-row {
  display: grid;
  z-index: 0;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 0rem 15rem;
  margin: 0 auto;
}

.grid-row img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1em;
  border: 0.25em solid #b89b8c;
  transition: transform 0.4s ease;
  transition: box-shadow 0.4s ease;
}

.grid-item {
  padding: 1.5em;
  border-radius: 2em;
  text-align: center;
  color: #fffdfc;
  background-color: #fbecd3;
}

.grid-item:hover {
  transform: scale(1.02);
  background-color: #fce6e3;
}

.pagination {
  display: inline-block;
  border-radius: 2rem;
  background-color: #EEE;
}

.pagination a {
  color: black;
  float: left;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}

.pagination a.active {
  border-radius: 0.3rem;
  background-color: #fcb69f;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    transition: all 0.3s ease;
}