html {
  font-size: 14px;
  min-width: 800px;
  .grid-row{
    column-gap: 1em;
    row-gap: 1em;
    padding: 0rem 5rem;
  }
}

@media (min-width: 1001px) {
  html {
    font-size: 17px;
  }
}

body {
  font-family: "Google Sans", sans-serif;
  text-align: center;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading{
  text-align: center;
  font-size: 2rem;
  color: #444;
  -webkit-text-stroke-width: 0.09rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.grid-row {
  display: grid;
  z-index: 0;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 0rem 15rem;
  margin: 0 auto;
}

.grid-row img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1em;
  border: 0.25em solid #b89b8c;
  transition: transform 0.4s ease;
  transition: box-shadow 0.4s ease;
}

.grid-item {
  padding: 1.5em;
  border-radius: 2em;
  text-align: center;
  color: #555;
  background-color: #fbecd3;
}

.grid-item:hover {
  transform: scale(1.02);
  background-color: #fce6e3;
}

.pagination {
  display: inline-block;
  border-radius: 2rem;
  background-color: #EEE;
}

.pagination a {
  color: black;
  float: left;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}

.pagination a.active {
  border-radius: 0.3rem;
  background-color: #fcb69f;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    transition: all 0.3s ease;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
  padding: 1em;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 1em;
  text-align: center;
}

.button {
  all:unset;
  background-color: #f4c6b9;
  color: #444;
  padding: 0.6em 1.4em;
  border: solid white 0.1em;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.05rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #ffa09a;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

.editform label {
  display: block;
}
