div.menu {
  background-color: #EEE;
  overflow: auto;
  white-space: normal;
  font-family: 'Verdana'; 
}

.logo{
  width: 60px;
  height: 60px;
  float: left;
  padding: 0px 5px 0px 20px;
}

.qsm{
  display: inline-block;
  color: #666;
  text-align: center;
  font-size: 18px;
  min-width: 150px;
  width: 8%;
  padding: 0px 5px 0px 0px;
}

.link {
  display: inline-block;
  color: #888;
  text-align: center;
  transition: all 0.5s ease;
  padding: 20px 0px 20px 0px;
  text-decoration: none;
  width:10%;
  min-width: 150px;
}

.link:hover {
  background-color: #0D9;
  color: white;
}

.searchbar {
    border: 1px #CCC solid;
    padding: 10px 0px 10px 10px;
    margin: 0px 3px 0px 20px;
    border-radius: 20px;
    width: 35%;
  }

.button {
  background-color: #DDD; 
  border: 1px #CCC solid;
  color: #888;
  padding: 9px 16px ;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease;
  display: inline-block;
  font-size: 16px;
  margin: 0px 20px 0px 0px;
  border-radius: 20px;
}

button:hover {
  background-color: #0D9;
  color: white;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}