#wrapper{
    margin:0 auto;
    min-width: 320px; 
 }

.menu {
  top: 5px;
  height: 50px;
  width: 100%;  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EEE;
  font-family: 'Verdana'; 
  font-size: 14px;
  position: fixed;
  z-index: 999;
}

.logo{
  width: 50px;
  height: 50px;
  padding: 0px 0px 0px 10px;
}

.qsm{
  display: inline-block;
  color: #444;
  text-align: center;
  font-size: 16px;
  padding: 0px 5px 0px 0px;
  min-width: 140px;
}

.link {
  display: inline-block;
  color: #888;
  transition: all 0.5s ease;
  padding-left: max(10px, 3%);
  padding-right: max(10px, 3%);
  width: 50px;
  height: 50px;
}

.link:hover {
  background-color: #0D9;
}

.searchbar {
    border: 1px #CCC solid;
    padding: 10px 0px 10px 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 20px;
    width: 45%;
    min-width: 150px;
  }

.button {
  background-color: #DDD; 
  border: 1px #CCC solid;
  color: #888;
  padding: 5px 7px ;
  margin: 0px 5px 0px 0px;
  border-radius: 20px;
}

button:hover {
  background-color: #0D9;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  padding-top: 50px;
}
